# Data (never commit datasets)
data/**
*.csv
*.zip
*.pt
*.pth

# Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pkl
*.log

# Virtual environments
.venv/
env/

# OS files
.DS_Store
Thumbs.db
